body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1f2937 ;
    font-size: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

li.logo {
    margin-right: auto;
}

#hero {
    display: flex;
    flex: 1;
}

#box-one {
    display: flex;
    flex-direction: column;
}
#box-two {
    display: flex;
}


.information-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}


.information {
    display: flex;
    justify-content: space-around;
}

.information div {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid;
    border-color: grey;
}